dash
plotly
pandas
numpy
dash-bootstrap-components
aiohttp
aiosignal
attrs
CacheControl
cachy
certifi
cffi
cleo
click
clikit
crashtest
cryptography
dash-core-components
dash-daq
dash-html-components
dash-table
debugpy
distlib
filelock
Flask
frozenlist
html5lib
idna
importlib
itsdangerous
jedi
jeepney
Jinja2
keyring
lockfile
MarkupSafe
numpy
pandas
parso
pastel
patsy
pexpect==4.8.0
pkginfo
platformdirs
plotly
pluggy
ptyprocess
pycparser
pyflakes
pylev
pyparsing
python-dateutil
scipy
statsmodels